 .u-section-1 {
  background-image: none;
  min-height: 572px;
}

.u-section-1 .u-image-1 {
  width: 1311px;
  left: auto;
  right: 0;
  filter: brightness(0.75);
}

.u-section-1 .u-group-1 {
  width: 840px;
  min-height: 259px;
  height: auto;
  margin: 30px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-bottom: 25px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 41px 92px 0 -72px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 149px calc(((100% - 1140px) / 2) + 388px) 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 1065px;
    left: calc(((100% - 940px) / 2) + -75px);
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 188px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 827px;
    left: calc(((100% - 720px) / 2) + -57px);
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 644px;
    left: calc(((100% - 540px) / 2) + -54px);
  }

  .u-section-1 .u-group-1 {
    width: 338px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 435px;
    left: auto;
    object-position: 63.96% 50%;
    background-position: 63.96% 50%;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 55px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1429px;
}

.u-section-2 .u-text-1 {
  width: 894px;
  margin: 111px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 73px 194px 0 123px;
}

.u-section-2 .u-text-3 {
  margin: 56px 194px 0 123px;
}

.u-section-2 .u-text-4 {
  margin: 20px 194px 0 123px;
}

.u-section-2 .u-text-5 {
  margin: 43px 194px 0 123px;
}

.u-section-2 .u-group-1 {
  width: 879px;
  min-height: 305px;
  height: auto;
  margin: 87px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 73px;
}

.u-section-2 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 21px 20px 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1246px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 94px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -59px;
    margin-right: 94px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -38px;
    margin-right: 94px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -98px;
    margin-right: 94px;
    margin-left: 23px;
  }

  .u-section-2 .u-group-1 {
    width: 725px;
    margin-top: 32px;
    margin-right: 173px;
    height: auto;
  }

  .u-section-2 .u-text-6 {
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-2 .u-line-1 {
    width: 82px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -83px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 504px;
    margin-top: -140px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 50px;
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-2 .u-line-1 {
    width: 63px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1043px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -37px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 15px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -111px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -137px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-line-1 {
    width: 59px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 775px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -95px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -85px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -186px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -364px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-2 .u-line-1 {
    width: 50px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: url("/images/d7602255848ab028e47a16d5ebcc8d18.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 501px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 54px auto 50px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 492px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  position: relative;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  position: relative;
  font-style: italic;
  margin: 20px 0 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 492px;
}

.u-section-3 .u-image-1 {
  width: 467px;
  height: 381px;
  margin: 5px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-image-1 {
    width: 385px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-1 {
    width: 295px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 335px;
  }

  .u-section-3 .u-image-1 {
    width: 276px;
    height: 225px;
    margin-top: -67px;
    margin-bottom: 77px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-image-1 {
    width: 232px;
  }
}